<template>
    <div :class="{'col-md-3': categories, 'col-md-6': !categories}">
        <div class="card">
            <!-- IMPLEMENT ME! -->
            <div v-if="title" class="thumbnail">
                <img :src="img" :alt="title" />
                <div class="caption">
                    <h5>{{ title }}</h5>
                    <p>
                        {{ description }}
                    </p>
                    <div style="margin-bottom: 2px;">
                        <a v-for="category in categories" :key="category.title" :href="category.url" target="_blank"><span class="badge">{{ category.title }}</span></a>
                        <a v-for="tag in tags" :key="tag.url" :href="tag.url" target="_blank"><span class="badge">{{ tag.title }}</span></a>
                    </div>
                    <div>

                    </div>
                    <p>
                        <a :href="url" class="btn btn-default" target="_blank" role="button">Read</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Article',
        props: {
            title: {
                type: String
            },
            description: {
                type: String
            },
            categories: {
                type: Array
            },
            tags: {
                type: Array
            },
            img: {
                type: String
            },
            url: {
                type: String
            },
            author: {
                type: String
            },
            updated_at: {
                type: String
            },
            class_name: {
                default: 'col-md-6'
            },
            show_description: {
                default: true
            },
            show_tags: {
                default: true
            }
        }
    }
</script>

<style lang="scss" scoped>
.card {
  h5 {
    min-height: 50px;
  }
}
</style>
