<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Welcome to Year13 Articles!</h1>
                <p>You can look at hot and recent articles, as well as search for articles</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <form class="form-inline" @submit.prevent="search">
                    <div class="form-group mx-sm-3 mb-3">
                        <input :disabled="searching" v-model="keyword" type="text" class="form-control" id="keyword" placeholder="Keyword">
                    </div>
                    <button :disabled="searching" type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>
        </div>
        <div v-if="is_search" class="row">
            <div class="col-md-12">
                <h3>Search Results <small>for "{{ keyword }}"</small> <a v-if="!searching" @click.prevent="back" class="btn btn-link pull-right">Back to Home</a></h3>
                <div class="row text-center">
                    <i v-if="searching" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <!-- SHOW SEARCH RESULTS -->
                    <h3 class="text-center" v-show="message">{{this.message}}</h3>
                    <Article
                        v-for="(article, index) in search_results"
                        v-bind="article"
                        :key="index"
                    ></Article>
                </div>
                <paginate v-if="page_count"
                    v-model="page"
                    :page-count=page_count
                    :page-range="3"
                    :margin-pages="2"
                    :click-handler="pageClick"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                </paginate>
            </div>
        </div>
        <div v-if="!is_search" class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Whats Hot?</h3>
                    </div>
                </div>
                <div class="row">
                    <i v-if="loading" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <!-- SHOW HOT ARTICLES -->
                    <Article
                    v-for="(article, index) in hot_articles"
                    v-bind="article"
                    :key="index"
                    ></Article>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Recent Articles</h3>
                    </div>
                </div>
                <div class="row">
                    <i v-if="loading" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <!-- SHOW RECENT ARTICLES -->
                    <Article
                    v-for="(article, index) in recent_articles"
                    v-bind="article"
                    :key="index"
                    ></Article>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Article from '../components/Article';
    import Paginate from 'vuejs-paginate';
    import axios from 'axios';
    export default {
        name: 'HomePage',
        data() {
            return {
                hot_articles: [],
                recent_articles: [],
                search_results: [],
                is_search: false,
                loading: false,
                searching: false,
                keyword: '',
                message: null,
                page: 1,
                page_count: 0
            };
        },
        components: {
            Article,
            Paginate
        },
        methods: {
            search() {
                this.is_search = true;
                // this.searching = true;
                /* GET SEARCH RESULTS HERE */
                /* axios.get('/api/url/endpoint/to/search') */
                const url = `/api/articles/search?q=${this.keyword}`;
                this.getSearchedArticles(url);
            },
            back() {
                //GO BACK FROM SEARCH
                this.is_search = false;
            },
            pageClick (pageNum) {
                this.page = Number(pageNum);
                const url = `/api/articles/search?q=${this.keyword}&page=${this.page}`;
                this.getSearchedArticles(url);
            },
            getSearchedArticles(url){
                this.searching = true;
                this.message = null;
                this.search_results = null;
                this.page_count = 0;
                axios.get(url)
                .then(function (response) {
                    if(response.data.message) {
                        this.message = response.data.message;
                    }else{
                        this.page_count = Number(response.data.page_count);
                        if(response.data.articles){
                            this.search_results = response.data.articles;
                        }
                        // console.log(response.data.articles);
                    }
                    this.searching = false;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        async mounted() {
            // this.loading = true;
            /* LOAD HOT AND RECENT ARTICLES HERE */
            /* axios.get('/api/url/endpoint/to/hot/articles') */
            /* axios.get('/api/url/endpoint/to/recent/articles') */
            try {
                const response = await axios.get(`/api/articles?type=all`);
                this.hot_articles = response.data.hot_articles;
                this.recent_articles = response.data.recent_articles;
            } catch (e) {
                //console.log(e)
            }

        }
    }
</script>

<style lang="scss" scoped>
form {
  margin-bottom: 20px;
}
</style>